/* Action items */
action {
  display: flex;
  align-items: center;
  padding: var(--space-xs) 0;
  cursor: pointer;
}

action p {
  margin: 0 0 0 5px;
}

action > icon {
  display: flex;
  cursor: pointer;
  margin: 0 0 -4px 0;
  height: 24px;
  width: 24px;
  background-color: var(--color-text-primary);
}


/* App store badges */
app-store-wrapper {
  padding: var(--space-md) 0 0 0;
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  font-size: 0;
}

app-store-wrapper img {
  height: 40px;
}

@media (prefers-color-scheme: dark) {
  app-store-wrapper img[white] {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  app-store-wrapper img[black] {
    display: none;
  }
}