@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("/OpenSans-VariableFont_wdth_wght.ttf") format("truetype");
}

:root {
  color-scheme: light dark;
}

* {
  font-family: Open Sans, Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font: 14px Open Sans, Arial;
  height: 100%;
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}

body {
  min-height: 100%;
  font-size: 1rem;
  background: #fff;
  color: #000;
  background: light-dark(#fff, #000);
  color: light-dark(#000, #f5f5f5);
  overflow: hidden;
}

main-content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background: #f5f5f5;
  background: light-dark(#f5f5f5, #000);
  flex-direction: row;
  -webkit-overflow-scrolling: touch;
  transition: top 0.2s ease-in-out;
}

main-content-wrapper[inactive] {
  animation: slide-out-left 0.2s ease-in-out;
}

main-content-wrapper[inactive][clicked-back] {
  animation: slide-out-right 0.2s ease-in-out;
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

main-content-wrapper[active] {
  animation: slide-in-left 0.2s ease-in-out;
}

main-content-wrapper[active][clicked-back] {
  animation: slide-in-right 0.2s ease-in-out;
}

main-content-wrapper[active][skip-state] {
  animation: none;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

main-content,
main-content-2 {
  flex: 1;
  display: flex;
  background: #fff;
  background: light-dark(#fff, #000);
  flex-direction: column;
  padding: 0 20px 20px 20px;
  max-width: 480px;
  width: 100%;
  position: relative;
}

@media (prefers-color-scheme: dark) and (min-width: 482px) {

  main-content,
  main-content-2 {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
  }
}

@media (max-width: 1000px) {
  main-content-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  main-content {
    padding: 0 20px 0 20px;
  }
}

icons {
  display: none;
}

footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: calc(54px + env(safe-area-inset-bottom));
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #000;
  border-top: 1px solid light-dark(#000, #fff);
  z-index: 1;
  padding: 0 0 env(safe-area-inset-bottom) 0;
}

footer::after {
  content: "";
  position: absolute;
  background: #000;
  z-index: 0;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}

footer a {
  font-size: .786rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 34px;
  overflow: visible;
  align-items: center;
  position: relative;
  z-index: 1;
}

footer a p {
  margin: 0;
  max-width: unset;
  font-size: .786rem;
  color: #000;
}

footer a:nth-child(3) p,
footer a:nth-child(4) p {
  color: #fff;
}

footer a icon {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:nth-child(3) svg,
footer a:nth-child(4) svg {
  fill: #fff;
}

footer a[unread]::before {
  top: calc(50% - 10px);
}

body[app] main-content-wrapper {
  bottom: calc(54px + env(safe-area-inset-bottom));
}

body[app] footer {
  display: flex;
}

body[app] main-content add-new:first-child {
  bottom: calc(74px + env(safe-area-inset-bottom));
}

a,
a:visited,
a:active {
  color: #000;
  color: light-dark(#000, #f5f5f5);
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  font-size: 1.286rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h2 button {
  margin-left: 5px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
comment h3 icon[more] {
  margin: -4px 0 -8px 0;
  cursor: pointer;
}
comment h3 icon[more] svg {
  height: 30px;
  width: 30px;
  fill: #000;
  fill: light-dark(#000, #fff);
}

audio,
p {
  margin-top: 10px;
}

p {
  max-width: 100%;
  overflow: hidden;
}

p img {
  max-width: 100%;
  border-radius: 10px;
}

comment p img,
topic[trimmed] p img {
  cursor: pointer;
  height: 100px;
}

comment p[img],
topic[trimmed] p[img] {
  display: inline-flex;
}

comment p[img]+p[img],
topic[trimmed] p[img]+p[img] {
  margin-left: 10px;
}

p[quote] {
  padding: 10px;
  border-left: 2px solid #999;
  border-left: 2px solid light-dark(#999, #333);
  background: #f5f5f5;
  background: light-dark(#f5f5f5, #0c0c0c);
}

p[quote]+p[quote] {
  margin-top: 0;
}

p[bold] {
  font-weight: 600;
}

p[ellipsis]+button {
  margin-top: 10px;
}

audio {
  width: 100%;
}

ul {
  margin: 10px 0 0 17px;
}

debug {
  white-space: pre;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid light-dark(#000, #fff);
  right: 0;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header h1 {
  cursor: pointer;
  font-size: 1.286rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

header img {
  position: absolute;
  z-index: 1;
  height: 43px;
  width: 43px;
  left: calc(50% - 21.5px);
}

header::after {
  content: "";
  position: absolute;
  background: #000;
  z-index: 0;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}

hamburger {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

[unread]::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -14px;
  background: #48c;
  background: light-dark(#48c, #04f);
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

hamburger[unread]::before {
  left: -8px;
}

menu-wrapper {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
}

menu-wrapper modal-bg {
  position: fixed;
  top: 44px;
}

menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  background: light-dark(#fff, #000);
  border-radius: 0 0 0 2px;
  z-index: 6;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}

menu signed-in,
menu sign-in,
modal {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 20px;
  position: relative;
  width: 280px;
}

modal[image] {
  width: 100%;
  max-width: 480px;
  max-height: calc(100% - 44px);
}
modal[image] p[img] {
  overflow-y: scroll;
}
modal[confirm] h2 {
  margin: 0;
  justify-content: flex-start;
}
modal[confirm] h2 icon {
  margin: -4px 6px -4px -5px;
}
modal[confirm] h2 icon[block] {
  margin: -4px 6px -4px -2px;
}
modal[confirm] h2 icon svg {
  height: 30px;
  width: 30px;
  fill: light-dark(#000, #fff);
}
modal[confirm] button-wrapper {
  margin-top: 10px;
}

menu signed-in>*,
menu sign-in>*,
modal>* {
  margin-bottom: 5px;
}

modal input {
  width: 100%;
}

modal p:first-child {
  margin-top: 0;
}

menu links {
  display: flex;
  flex-direction: column;
}

menu links a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 11px;
  border-bottom: 1px solid #999;
  border-bottom: 1px solid light-dark(#999, #333);
  position: relative;
}
menu p[notice] {
  width: 280px;
  border-top: 1px solid #999;
  border-top: 1px solid light-dark(#999, #333);
  padding: 10px 20px;
  margin-top: 0;
}
p[notice] {
  text-align: center;
  font-size: .786rem;
}
p[notice] span,
p[notice] a {
  opacity: .5;
}
p[notice] a {
  font-weight: 600;
  margin: 0 3px;
}

menu links a icon {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

menu links a icon svg {
  fill: #000;
  fill: light-dark(#000, #fff);
}

menu links a icon[recent] svg {
  width: 28px;
}

menu links a icon[settings] svg {
  width: 30px;
}

menu links a icon[notifications] svg {
  width: 32px;
}

menu links a p {
  margin: 0 0 0 5px;
}

menu links a[unread]::before {
  left: 6px;
}

toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 0 0;
  font-weight: 600;
  cursor: pointer;
}

toggle-wrapper[disabled] {
  opacity: .5;
}

toggle-wrapper toggle-button {
  margin-left: 20px;
  display: flex;
  height: 30px;
  width: 50px;
  border-radius: 16px;
  background: #ddd;
  background: light-dark(#ddd, #666);
  position: relative;
  transition: background .2s ease-in-out;
}

toggle-wrapper toggle-button toggle-circle {
  height: 28px;
  width: 28px;
  background: #fff;
  background: light-dark(#fff, #000);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left .2s ease-in-out;
}

toggle-wrapper[active] toggle-button {
  background: #4a5;
  background: light-dark(#4a5, #091);
}

toggle-wrapper[active] toggle-button toggle-circle {
  left: 21px;
}

button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
action + button-wrapper,
p + button-wrapper {
  margin-top: 10px;
}

button-wrapper button {
  flex: 1;
}

a[big] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #4a5;
  border: 1px solid light-dark(#4a5, #091);
  color: #fff;
  color: light-dark(#fff, #f0fff0);
  background: #4a5;
  background: light-dark(#4a5, #091);
  padding: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

modal-bg {
  display: flex;
  background: #00000077;
  background: light-dark(#00000077, #000000cc);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

input,
textarea {
  font-size: 1rem;
  width: 240px;
  border-radius: 2px;
  border: 1px solid #000;
  background: #fff;
  border: 1px solid light-dark(#999, #333);
  background: light-dark(#fff, #000);
  padding: 10px;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: light-dark(#000, #fff);
  caret-color: light-dark(#000, #fff);
}

button {
  cursor: pointer;
  font-size: 1rem;
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  background: light-dark(#000, #f5f5f5);
  border: 1px solid light-dark(#000, #fff);
  color: light-dark(#fff, #000);
  padding: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

button[alt] {
  background: #f5f5f5;
  color: #000;
  border: 1px solid #999;
  background: light-dark(#f5f5f5, #000);
  color: light-dark(#000, #fff);
  border: 1px solid light-dark(#999, #333);
}

button[small] {
  padding: 2px 10px;
}

button[disabled],
button[faint] {
  opacity: 0.5;
}

pass,
info,
error {
  padding: 10px 10px 10px 36px;
  position: relative;
  background: #fee;
  border: 1px solid #b66;
  color: #b66;
  background: light-dark(#fee, #b66);
  border: 1px solid light-dark(#b66, #b66);
  color: light-dark(#b66, #fee);
  border-radius: 2px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

info[small] {
  padding: 5px 5px 5px 26px;
  font-size: .786rem;
}

info[tiny] {
  padding: 1px 3px 1px 19px;
  font-size: .786rem;
}

pass::before,
info::before,
error::before {
  content: "!";
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #b66;
  color: #fee;
  background: light-dark(#b66, #fee);
  color: light-dark(#fee, #b66);
  font-size: 14px;
  font-weight: 700;
  height: 17px;
  width: 17px;
}

info[small]::before {
  height: 14px;
  width: 14px;
  left: 5px;
  top: 5px;
  font-size: 11px;
}

info[tiny]::before {
  height: 11px;
  width: 11px;
  left: 3px;
  top: 2.5px;
  font-size: 9px;
}

info {
  border-color: #48c;
  background: #e0f0ff;
  color: #48c;
  border-color: light-dark(#48c, #04a);
  background: light-dark(#e0f0ff, #04a);
  color: light-dark(#48c, #e0f0ff);
}

info::before {
  content: "i";
  background: #48c;
  background: light-dark(#48c, #e0f0ff);
  color: light-dark(#e0f0ff, #04a);
}

info[response] {
  border-color: #555;
  background: #f5f5f5;
  color: #555;
  border-color: light-dark(#555, #333);
  background: light-dark(#f5f5f5, #333);
  color: light-dark(#555, #f5f5f5);
}

info[response]::before {
  background: #555;
  color: #f5f5f5;
  background: light-dark(#555, #f5f5f5);
  color: light-dark(#f5f5f5, #333);
}

pass {
  border-color: #4a5;
  background: #f0fff0;
  color: #4a5;
  border-color: light-dark(#4a5, #091);
  background: light-dark(#f0fff0, #091);
  color: light-dark(#4a5, #f0fff0);
}

pass::before {
  content: "✓";
  background: #4a5;
  color: #f0fff0;
  background: light-dark(#4a5, #f0fff0);
  color: light-dark(#f0fff0, #091);
}

error p {
  margin-top: 5px;
}

test-wrapper {
  margin-top: 20px;
}

test-wrapper error+info {
  margin-top: 10px;
}

test-wrapper+add-new {
  margin-top: 20px;
}

image-prompt {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

image-prompt textarea {
  width: 100%;
}

image-prompt>* {
  margin-top: 10px;
}

image-prompt+img {
  margin-top: 10px;
  width: 100%;
}

password-wrapper {
  display: flex;
  align-items: center;
}

password-wrapper input {
  width: 218px;
}

password-help {
  display: flex;
  align-items: center;
  padding: 10px 0 9px 5px;
}

password-help::before {
  content: "?";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #48c;
  color: #e0f0ff;
  background: light-dark(#48c, #04a);
  color: light-dark(#e0f0ff, #e0f0ff);
  font-weight: 600;
  height: 17px;
  width: 17px;
}

modal {
  position: fixed;
  flex-direction: column;
  z-index: 5;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  background: light-dark(#fff, #000);
  border-radius: 2px;
  box-shadow: 0px 0px 5px #000;
  max-width: 480px;
  width: calc(100% - 20px);
}

@media (prefers-color-scheme: dark) {
  modal {
    box-shadow: none;
    border: 1px solid #333;
  }
}

add-new {
  display: flex;
  flex-direction: column;
}

add-new>* {
  margin-bottom: 5px;
}

add-new>*:last-child {
  margin-bottom: 0;
}

add-new input,
add-new textarea,
add-new button {
  width: 100%;
}

main-content add-new:first-child {
  position: fixed;
  top: 64px;
  bottom: 20px;
  right: calc(50% + 40px);
  left: calc(50% - 480px);
}

main-content add-new:first-child textarea {
  height: 100%;
  min-height: 74px;
}

@media (max-width: 1000px) {
  main-content add-new:first-child {
    margin-top: 20px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  main-content add-new:first-child textarea {
    height: unset;
  }
}

title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

title-wrapper input {
  display: none;
}
title-wrapper svg {
  fill: light-dark(#000, #fff);
  cursor: pointer;
}
title-wrapper svg {
  height: 34px;
  width: 34px;
  margin: 0 -3px -5px 5px;
}
image-previews {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

image-previews preview {
  border: 1px solid #000;
  border: 1px solid light-dark(#000, #fff);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(25% - (15px / 4));
  margin-right: 5px;
  height: 100px;
}

image-previews preview:last-child {
  margin-right: 0;
}

image-previews preview remove-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  border-radius: 50%;
  background: #000;
  background: light-dark(#000, #fff);
  font-weight: 600;
  height: 25px;
  width: 25px;
}

image-previews preview remove-icon::before,
image-previews preview remove-icon::after {
  content: "";
  position: absolute;
  width: 15px;
  border: 1px solid #fff;
  border: 1px solid light-dark(#fff, #000);
  border-radius: 4px;
  transform: rotate(45deg);
  top: 11px;
  left: 4px;
}

image-previews preview remove-icon::after {
  transform: rotate(-45deg);
}

image-previews preview img {
  max-height: 100px;
  max-width: 100%;
}

[add-new-comment] {
  padding: 10px 0;
}

[add-new-comment] button {
  width: 100%;
}

comments {
  display: flex;
  flex-direction: column;
}

comments[thread] {
  margin-top: 20px;
}

comment {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border: 1px solid light-dark(#ddd, #666);
  border-radius: 2px;
  padding: 10px;
}

comments>comment {
  margin-bottom: 20px;
}

comments comment:last-child {
  margin-bottom: 0;
}

comment comment {
  margin-top: 10px;
}

comment p {
  margin-top: 5px;
}

comment pass,
comment info {
  margin-top: 10px;
}

info b {
  margin-top: -1.5px;
  margin-bottom: 5px;
}

comments>add-new:first-child {
  padding: 10px;
  border: 1px solid #ddd;
  border: 1px solid light-dark(#ddd, #666);
  margin: 20px 0 10px 0;
}

comments>add-new:not(:first-child) {
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  border: 1px solid light-dark(#ddd, #666);
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
}

topics>add-new:first-child {
  padding: 20px 0;
  margin-bottom: -20px;
}

comment add-new {
  margin-top: 10px;
}

reply-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin: 0 -10px -10px -10px;
}
reply-wrapper button {
  margin: 0 10px 0 0;
}

display-name-wrapper {
  padding-bottom: 5px;
  flex: 1;
}

expand-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 -10px 0;
  position: relative;
}

expand-wrapper[above-comments] {
  cursor: default;
  margin: 0 0 10px 0;
}

expand-wrapper[above-comments]:first-child {
  margin: 10px 0 10px 0;
}

expand-wrapper[collapse] {
  flex-direction: row;
  justify-content: center;
}

back-forward-wrapper {
  display: flex;
  justify-content: space-between;
}

mark-all-as-read-wrapper,
read-more-wrapper,
share-wrapper,
forward-wrapper,
back-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 0;
  min-height: 18px;
  position: relative;
}

read-more-wrapper {
  margin: 0;
  white-space: nowrap;
}

forward-wrapper:only-child {
  justify-content: flex-end;
  flex: 1;
}

read-more-wrapper button,
forward-wrapper button,
back-wrapper button,
expand-wrapper button {
  background: #fff;
  border-color: #fff;
  background: light-dark(#fff, #000);
  border-color: light-dark(#fff, #000);
  position: relative;
  padding: 6px;
}

share-wrapper info {
  position: absolute;
  top: calc(50% - 13px);
  right: 40px;
  display: none;
  max-width: unset;
  white-space: nowrap;
  z-index: 1;
}

share-wrapper info[show] {
  display: flex;
  animation: fade-out .5s ease-in-out 1 3.5s;
}

forward-wrapper button::before,
back-wrapper button::before,
[expand-left]::before,
[expand-right]::before,
[expand-down]::before,
[expand-up]::before {
  content: "";
  border-top: 1.5px solid #000;
  border-left: 1.5px solid #000;
  border-top: 1.5px solid light-dark(#000, #fff);
  border-left: 1.5px solid light-dark(#000, #fff);
  border-right: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 3px;
  left: calc(50% - 9px);
  transform: rotate(45deg);
  opacity: .5;
}

[expand-down]::before {
  top: -10px;
  transform: rotate(-135deg);
}

[expand-left]::before {
  transform: rotate(-45deg);
  height: 10px;
  width: 10px;
  top: 5px;
  left: calc(50% - 10px);
}

[expand-right]::before {
  transform: rotate(135deg);
  height: 10px;
  width: 10px;
  top: 5px;
  left: calc(50% - 3px);
}

read-more-wrapper [expand-right]::before,
forward-wrapper [expand-right]::before,
back-wrapper [expand-left]::before {
  transform: rotate(-45deg);
  top: 0;
  left: 2px;
  height: 10px;
  width: 10px;
}

read-more-wrapper [expand-right]::before,
forward-wrapper [expand-right]::before {
  transform: rotate(135deg);
  left: -4px;
}

all-clear-wrapper p,
read-more-wrapper p,
share-wrapper p,
forward-wrapper p,
back-wrapper p,
expand-wrapper p {
  font-size: .786rem;
  font-weight: 600;
  margin: 0 0 5px 0;
  opacity: .5;
  text-align: center;
}

all-clear-wrapper p {
  margin: 60px 0;
  text-align: center;
}

read-more-wrapper p {
  margin: 0;
}

expand-wrapper[above-comments] p {
  text-align: left;
  margin: 0;
}

expand-wrapper button+p {
  margin-top: 5px;
}

read-more-wrapper p,
share-wrapper p,
forward-wrapper p,
back-wrapper p {
  margin: 0 5px;
  text-align: left;
}

read-more-wrapper p,
share-wrapper p,
forward-wrapper p {
  text-align: right;
}

notifications {
  display: flex;
  flex-direction: column;
}

notifications notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  position: relative;
}

notifications notification first-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

notifications notification info[tiny] b {
  font-weight: 600;
}

notifications notification summary {
  font-size: .786rem;
}

notifications notification summary b {
  font-weight: 600;
}

notifications notification summary i {
  margin: 0 3px 0 0;
}

notifications notification summary span {
  margin: 0 3px;
}

notifications h3 {
  margin-top: 20px;
}

notifications notification+h3 {
  margin-top: 30px;
}

topics {
  display: flex;
  flex-direction: column;
}

activities activity,
topics topic {
  padding-bottom: 21px;
  position: relative;
}
activities activity {
  display: flex;
  flex-direction: column;
}

activities[favorites] activity::after,
notifications notification::after,
topics topic::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid light-dark(#ddd, #666);
}

notifications notification::after {
  bottom: -10px;
}

notifications notification:last-child::after,
notifications notification:has(+ h3)::after {
  display: none;
}

topics-loading {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: loading 1.5s ease-in-out infinite 1s;
}

topics-loading h2 {
  background: #ddd;
  background: light-dark(#ddd, #333);
  width: 80%;
  height: 32px;
}

topics-loading p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

topics-loading p::before,
topics-loading p::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 16px solid #ddd;
  border-bottom: 16px solid #ddd;
  border-top: 16px solid light-dark(#ddd, #333);
  border-bottom: 16px solid light-dark(#ddd, #333);
  height: 10px;
}

topics-loading p::after {
  margin-top: 10px;
  width: 33%;
  border-bottom: none;
}

activities {
  display: flex;
  flex-direction: column;
}

activity>h2 {
  font-size: .786rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
activity > h2 > span:last-child {
  text-align: right;
}

activity>topic h2 {
  margin-top: 0;
}
topic>h2>icon[more] {
  margin: -4px 0 -8px 0;
  cursor: pointer;
}
topic>h2>icon[more] svg {
  height: 30px;
  width: 30px;
  fill: #000;
  fill: light-dark(#000, #fff);
}

activity>[parent-comment] {
  background: #f5f5f5;
  background: light-dark(#f5f5f5, #0c0c0c)
}

activity>[parent-comment] comment {
  background: #fff;
  background: light-dark(#fff, #000);
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

[flash-focus] {
  animation: flash-focus .5s ease-in 1;
}

[flash-long-focus] {
  animation: flash-long-focus 2s ease-in 1;
}

@keyframes flash-focus {
  0% {
    box-shadow: 0 0 5px #0061fe;
  }

  100% {
    box-shadow: none;
  }
}

@keyframes flash-long-focus {
  0% {
    box-shadow: 0 0 5px #0061fe;
  }

  75% {
    box-shadow: 0 0 5px #0061fe;
  }

  100% {
    box-shadow: none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

topic-details {
  margin: 0 -10px -10px -10px;
  display: flex;
}

reply-wrapper detail,
topic-details detail {
  font-size: .786rem;
  display: flex;
  align-items: center;
  opacity: .5;
  padding: 10px;
}

detail[favorites],
topic-details detail[more] {
  cursor: pointer;
}

topic-details detail[comments] {
  flex: 1;
}

reply-wrapper detail icon,
topic-details icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

reply-wrapper svg,
topic-details svg {
  fill: #000;
  fill: light-dark(#000, #fff);
  width: 30px;
  height: 30px;
}

reply-wrapper p,
topic-details p {
  margin-top: -1.5px;
  font-weight: 600;
}

detail[favorites] icon {
  margin: -3px 0 -4px -7px;
}

detail[comments] icon {
  margin: -3px 3px -4px -3px;
}

detail[comments] svg {
  height: 26px;
  width: 26px;
}

detail[more] icon {
  margin: -3px -6px -4px -1px;
}

detail[more] svg {
  height: 26px;
  width: 26px;
}

topic:not([trimmed]) detail[more] {
  display: none;
}

share-wrapper {
  flex-direction: column;
}

share-wrapper:only-child {
  justify-self: flex-end;
}

share-wrapper p {
  margin: 2px 0 0 0;
}

icon[share] {
  width: 100%;
  display: flex;
  justify-content: center;
}

icon[share] svg {
  opacity: .5;
  fill: #000;
  fill: light-dark(#000, #fff);
  height: 26px;
  width: 26px;
}

alert-wrapper {
  position: fixed;
  z-index: 1;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

alert-wrapper alert {
  animation: slide-down 0.2s ease-in-out, slide-up 0.2s ease-in-out 4.8s forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: margin-top(0);
    margin-bottom: 0;
  }

  100% {
    transform: translateY(-100%);
    margin-bottom: -50px;
  }
}

activity[explode-out] {
  animation: explode-out .2s ease-in-out 0s forwards;
}

@keyframes explode-out {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    ;
  }

  100% {
    opacity: 0;
    transform: scale(1.1, 1.1);
    ;
  }
}

p[favorites-empty] {
  overflow: visible;
}

p[favorites-empty] icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2[welcome] svg,
h2[moderation] svg,
p[add-to-home] svg,
p[favorites-empty] svg {
  fill: #000;
  fill: light-dark(#000, #fff);
  margin-bottom: -16px;
}
h2[moderation] svg {
  width: 60px;
  height: 60px;
  margin-top: -16px;
}

p[add-to-home] {
  overflow: visible;
}
p[add-to-home] svg {
  height: 30px;
  width: 30px;
  margin-bottom: -6px;
}

footer dot {
  position: absolute;
  z-index: 1;
  transition: right .2s ease-in-out, background .2s ease-in-out;
  top: 54px;
  background: #000;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}
footer dot[index="0"] {
  right: 100%;
  background: #000;
}
footer dot[index="1"] {
  right: calc(7 * 100% / 8 - 2px);
  background: #000;
}
footer dot[index="2"] {
  right: calc(5 * 100% / 8 - 2px);
  background: #000;
}
footer dot[index="3"] {
  right: calc(3 * 100% / 8 - 2px);
  background: #fff;
}
footer dot[index="4"] {
  right: calc(1 * 100% / 8 - 2px);
  background: #fff;
}

action {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}
action p {
  margin: 0 0 0 5px;
}
action>icon {
  cursor: pointer;
  margin: 0 0 -4px 0;
}
action>icon svg {
  height: 24px;
  width: 24px;
  fill: #000;
  fill: light-dark(#000, #fff);
}
app-store-wrapper {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}
app-store-wrapper img[white] {
  display: none;
}
@media (prefers-color-scheme: dark) {
  app-store-wrapper img[white] {
    display: block;
  }
  app-store-wrapper img[black] {
    display: none;
  }
}

@media (max-width: 481px) {
  [textarea-focused] main-content-wrapper {
    top: 0;
    z-index: 2;
  }
}

poll-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
poll-input-wrapper icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
poll-input-wrapper svg {
  fill: light-dark(#000, #fff);
  height: 26px;
  width: 26px;
  margin: 0 -2px 0 -2px;
}
poll-input-wrapper poll-text {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
}
poll-input-wrapper poll-text[add],
poll-input-wrapper poll-text [remove] {
  cursor: pointer;
}
poll-input-wrapper poll-text p {
  margin: 0;
}
poll-input-wrapper poll-text input {
  flex: 1;
}
poll-vote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
poll-vote-wrapper > * {
  border: 1px solid light-dark(#000, #fff);
  border-radius: 20px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
}
poll-wrapper p[results] {
  font-size: .786rem;
}
poll-counts-actual,
poll-counts-estimated {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}
poll-counts-actual > *,
poll-counts-estimated > * {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
poll-counts-actual > * text,
poll-counts-estimated > * text {
  flex: 1;
  position: relative;
  padding: 2px 10px;
  margin-right: 10px;
}
poll-counts-actual > * bg,
poll-counts-estimated > * bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: light-dark(#000, #fff);
  opacity: .2;
  border-radius: 5px;
}